.box {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    width: 370px;
    height: 42px;
    top: 20px;
    left: 20px;
    padding-left: 12px !important;
    padding-top: 8px;
    padding-right: 5px !important;
    padding-bottom: 8px;
}

.allPages {
    color: #1F2128 !important;
    font-family: Montserrat !important;
    font-weight: 400 !important;
    font-style: Regular !important;
    line-height: 130% !important;
    letter-spacing: 0px !important;
    vertical-align: middle !important;

}




