.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 400px;
  height:365px;
  background: #ffffff;
  border-radius: 12px;
  padding: 10px 12px !important;
  
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.12);
  font-family: "Inter", sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  padding: 4px 0 !important;
  
}

.divider {
  width: 100% !important;
  height: 0.7px !important;
  background-color: #EEEEEE !important;
  margin-bottom: 0px 0 !important;
}

.buttonWrapper {
  margin-top: 22px;
}

/* Ensure checkbox looks same style */
.row input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
}
